body {
    color: #5E6C87;
    background-color: #ebeced; /* f9f9f9 gris tres clair*/
    font-family: Verdana, Arial, sans-serif;
    padding-top: 2em;
    padding-bottom: 0.5em;
}
.entirePage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    padding: 1em;
    width: 75%;
    max-width: 600px;
    line-height: 150%;
    text-align: left;
    background-color: white;
    border: 2px solid #5E6C87; /* dark grey */
    border-radius: 25px;
}
.enrollment {
    margin: 2em auto;
    padding: 0.25em 1em;
    font-size: 160%;
    font-weight: bold;
    color: white;
    background-color: #DD4B39; /* red */
    border: 2px solid #DD4B39;
    border-radius: 20px;
}
